.footer {
  background: #282828;
  font-size: 14px;
  padding: 48px 24px;
  border-radius: 48px 48px 0 0;
  color: #D4D4D4;

  @include div-lg {
    // padding: 100px 320px;
    padding-top: 100px;
    border-radius: 80px 80px 0 0;
  }

  a {
    color: #FFFFFF;
  }

  .footer-logo {
    max-width: 200px;
  }
}

.social {
  .icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
  }
}
