.logo-img {
    width: 100px;
    height: 100px;

    @include div-lg {
        width: 200px;
        height: 200px;
        left: 30% !important;
    }
}

.teacher-content .card-title {
    text-align: center;
    @include div-lg {
        text-align: left;
    }
}

.rel-class {
    .card {
        border-radius: 20px;

        img {
            border-radius: 20px 20px 0 0 ;
        }
    }
}